/* Global CSS */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    background: url('/assets/UAT.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

